<style>
/* btn */
	.menu {
		position: relative;
		display:  inline-block;
		width: 30px;
		height: 30px;
		margin: 10px;
	}
	.menu span {
		margin: 0 auto;
		position: relative;
		top: 12px;
	}
	.menu span:before, .menu span:after {
		position: absolute;
		content: '';
	}
	.menu span, .menu span:before, .menu span:after {
		width: 30px;
		height: 6px;
		background-color: #343a40;
		display: block;
	}
	.menu span:before {
		margin-top: -12px;
	}
	.menu span:after {
		margin-top: 12px;
	}
	/* --- btn --- */

	/* Burger to right */
	.burger-to-right span {
		-webkit-transition-duration: 0s; transition-duration: 0s;
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
	}
	.burger-to-right:hover span {
		background-color: rgba(0,0,0,0.0);
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
	}
	.burger-to-right span:before {
		-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
		-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		-webkit-transform-origin: 100% 100%; transform-origin: 100% 100%;
	}
	.burger-to-right:hover span:before {
		margin-top: 0;
		-webkit-transform: rotate(22.5deg) skewX(22.5deg); transform: rotate(22.5deg) skewX(22.5deg);
		-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	}
	.burger-to-right span:after {
		-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
		-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		-webkit-transform-origin: 100% 0%; transform-origin: 100% 0%;
	}
	.burger-to-right:hover span:after {
		margin-top: 0;
		-webkit-transform: rotate(-22.5deg) skewX(-22.5deg); transform: rotate(-22.5deg) skewX(-22.5deg);
		-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	}

	/* burger to left */
		.burger-to-left span {
		-webkit-transition-duration: 0s; transition-duration: 0s;
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
	}
	.burger-to-left:hover span {
		background-color: rgba(0,0,0,0.0);
		-webkit-transition-delay: 0.2s; transition-delay: 0.2s;
	}
	.burger-to-left span:before {
		-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
		-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		-webkit-transform-origin: 0% 100%; transform-origin: 0% 100%;
	}
	.burger-to-left:hover span:before {
		margin-top: 0;
		-webkit-transform: rotate(22.5deg) skewX(22.5deg); transform: rotate(22.5deg) skewX(22.5deg);
		-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	}
	.burger-to-left span:after {
		-webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
		-webkit-transition-duration: 0.2s; transition-duration: 0.2s;
		-webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
		-webkit-transform-origin: 0% 0%; transform-origin: 0% 0%;
	}
	.burger-to-left:hover span:after {
		margin-top: 0;
		-webkit-transform: rotate(-22.5deg) skewX(-22.5deg); transform: rotate(-22.5deg) skewX(-22.5deg);
		-webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
	}
</style>
<div id="menu-toggle" class="menu burger-to-left"><span></span></div>
<script>
	var menu_toggle = document.getElementById("menu-toggle");
	var wrapper = document.getElementById('wrapper');
	var sidebar_wrapper = document.getElementById('sidebar-wrapper');
	var margin_left, margin_left_num;
	var questions_container = document.getElementById('question-container');

	menu_toggle.addEventListener("click", (e) => {
		e.preventDefault();
		wrapper.classList.toggle("toggled");
		margin_left = window.getComputedStyle(sidebar_wrapper).marginLeft;
		margin_left_num = parseFloat(margin_left);

		if (margin_left_num < 0 ) {
			menu_toggle.className = "menu burger-to-left";
			if (window.innerWidth > 829) {
				document.getElementById("main-container").style.marginLeft = "15rem";
			}
		} else {
			menu_toggle.className = "menu burger-to-right";
			document.getElementById("main-container").style.marginLeft = "auto";
		}
	}); 

	// Update the burger arrow when the window resizes
	window.addEventListener("resize",(e) => {
		//console.log(window.innerWidth)
		e.preventDefault();
		if (document.documentElement.clientWidth >= 768) {
			//console.log("Bigger or equal to 768");
			if (wrapper.className === "d-flex toggled") {
				wrapper.classList.toggle("toggled");
			}
			menu_toggle.className = "menu burger-to-left";
			if (window.innerWidth > 829) {
				document.getElementById("main-container").style.marginLeft = "15rem";
			}
		} else {
			//console.log("Less than 768");
			if (wrapper.className === "d-flex") {
				menu_toggle.className = "menu burger-to-right";
				document.getElementById("main-container").style.marginLeft = "auto";
			}
		}
		//console.log("window resized!");
		//console.log("NEW WINDOW WIDTH: " + document.documentElement.clientWidth);
	}, true);

	// Update the burger arrow when the window is loaded
	window.addEventListener("load", (e) => {
		e.preventDefault();
		//console.log("window loaded!");
		//console.log("WINDOW WIDTH: " + document.documentElement.clientWidth);
		margin_left = window.getComputedStyle(sidebar_wrapper).marginLeft;
		margin_left_num = parseFloat(margin_left);
		//console.log("Margin Left of sidebar: " + margin_left_num);

		if (margin_left_num < 0) {
			menu_toggle.className = "menu burger-to-right";
			document.getElementById("main-container").style.marginLeft = "auto";
			//console.log("set burger button to right");
		} else {
			menu_toggle.className = "menu burger-to-left";
			if (window.innerWidth > 829) {
				document.getElementById("main-container").style.marginLeft = "15rem";
			}
			//console.log("set burger button to left");
		}
	}, true);
</script>