<style>
	.navbar {
		position : fixed;
        top: 0;
		margin-left: 0;
		width: 100%;
		z-index: 999;
		transition: top 0.3s;
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom" style="background-color: #32adff">
	{% if not request.user.is_authenticated %}
		<a class="navbar-brand text-light" href="{% url 'polls:index' %}"
			style="
				background: #007bff;
				background: linear-gradient(to right, #3573c4, #33AEFF);
				border: 1px solid black;
				padding: 7px;
				border-radius: 7px;
			"
		>
			<strong>POLLSTER</strong>
		</a>
	{% else %}
		{% include 'partials/_burger_button.html' %}
	{% endif %}

	<div class="collapse navbar-collapse" id="navbarText">
		{% if not "/polls/" in request.path and not request.user.is_authenticated %}
			<ul class="navbar-nav ">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'polls:polls' page=1 %}"><strong>Polls</strong> <span class="sr-only">(current)</span></a>
				</li>
			</ul>
		{% endif %}	
		{% if not request.user.is_authenticated %}
			{% if request.path == "/login/"%}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:register' %}"><strong>Register</strong></a>
					</li>
				</ul>
			{% elif request.path == "/register/"%}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:login' %}"><strong>Login</strong></a>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:login' %}"><strong>Login</strong></a>
					</li>
					<li class="nav-item mr-auto">
						<a class="nav-link" href="{% url 'accounts:register' %}"><strong>Register</strong></a>
					</li>
				</ul>
			{% endif %}
		{% else %}
			<span class="navbar-text ml-auto text-dark">
				Hello, <strong>{{ request.user }}</strong>
			</span>
			<span>
				<a class="navbar-text text-info" style="margin-left: 20px; margin-right: 20px;" href="{% url 'accounts:logout' %}"><strong>Logout</strong></a>
			</span>
		{% endif %}

	</div>
</nav>

<script>
	var prevScrollpos = window.pageYOffset;
	window.onscroll = function() {
		var currentScrollPos = window.pageYOffset;
		if (prevScrollpos > currentScrollPos) {
			document.querySelector(".navbar").style.top = "0";
		} else {
			document.querySelector(".navbar").style.top = "-80px";
		}
		prevScrollpos = currentScrollPos;
	}
</script>
