<style>
	.navbar {
		position : fixed;
        top: 0;
		width: 100%;
		z-index: 999;
		transition: top 0.3s;
	}
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #32adff">
	<a class="navbar-brand text-light" href="{% url 'polls:index' %}"
		style="
			background: #007bff;
          	background: linear-gradient(to right, #3573c4, #33AEFF);
			border: 1px solid black; 
			padding: 7px;
			border-radius: 7px;
		"
	>
		<strong>POLLSTER</strong>
	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
  	  <span class="navbar-toggler-icon"></span>
  	</button>

	<div class="collapse navbar-collapse" id="navbarText">
		{% if "/polls/" in request.path %}
			<form class="d-flex m-2 mr-auto">
				<input id="search-input" onkeyup="filterQuestions()" class="form-control me-2" type="search" placeholder="Search Polls" aria-label="Search">
				{% comment %} <button class="btn btn-outline-info ml-2" type="submit">Search</button> {% endcomment %}
			</form>
		{% else %}
			<ul class="navbar-nav ">
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'polls:polls' num=1 %}"><strong>Polls</strong> <span class="sr-only">(current)</span></a>
				</li>
			</ul>
		{% endif %}
		{% if not request.user.is_authenticated %}
			{% if request.path == "/login/"%}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:register' %}"><strong>Register</strong></a>
					</li>
				</ul>
			{% elif request.path == "/register/"%}
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:login' %}"><strong>Login</strong></a>
					</li>
				</ul>
			{% else %}
				<ul class="navbar-nav ">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'accounts:login' %}"><strong>Login</strong></a>
					</li>
					<li class="nav-item mr-auto">
						<a class="nav-link" href="{% url 'accounts:register' %}"><strong>Register</strong></a>
					</li>
				</ul>
			{% endif %}
		{% else %}
			<span class="navbar-text ml-auto text-dark" style="margin-right: 20px;">
				Hello, <strong>{{ request.user }}</strong>
			</span>
			<span>
				<a class="navbar-text text-info" href="{% url 'accounts:logout' %}"><strong>Logout</strong></a>
			</span>
		{% endif %}
		
  	</div>
</nav>

<script>
	var prevScrollpos = window.pageYOffset;
	window.onscroll = function() {
		var currentScrollPos = window.pageYOffset;
		if (prevScrollpos > currentScrollPos) {
			document.querySelector(".navbar").style.top = "0";
		} else {
			document.querySelector(".navbar").style.top = "-80px";
		}
		prevScrollpos = currentScrollPos;
	}
</script>
<script>
	function filterQuestions() {
		const input = document.getElementById("search-input");
		const filter = input.value.toUpperCase();
		const questions_container = document.getElementById("questions-container");
		let questions_cards = document.getElementsByClassName("question-card");
		let no_found_text = document.getElementById("no-found-text");
		no_found_text.style.display = "none";
		let match = false;
		for (let i = 0; i < questions_cards.length; i++) {
			let question_text = questions_cards[i].getElementsByClassName("question-text")[0];
			let pub_date = questions_cards[i].getElementsByClassName("pub-date")[0];
			if (question_text || pub_date) {
				let txtValue = question_text.textContent || question_text.innerText;
				let dateValue = pub_date.textContent || pub_date.innerText;
				let composedValue = txtValue + " " + dateValue;
				if (composedValue.toUpperCase().indexOf(filter) === -1) {
					console.log(composedValue.toUpperCase().indexOf(filter));
					no_found_text.style.display = "block";
					no_found_text.innerText = "No matches for " + input.value;
					questions_cards[i].style.display = "none";
				} else {
					match = true;
					questions_cards[i].style.display = "block";
					no_found_text.style.display = "none";
				}
			}       
		}
		if (match) no_found_text.style.display = "none";
	}

	function init() {
	    // Clear forms here
	    document.getElementById("search-input").value = "";
	}
	
	window.onload = init;
</script>