<!-- Sidebar -->
    <style>
	    .container {
	    	transition: all 0.3s;
	    }
    </style>
    <div class="bg-light border-right" id="sidebar-wrapper">
        {% comment %} <div class="sidebar-heading">
            <a class="navbar-brand text-light" href="{% url 'polls:index' %}"
                style="
                    background: #007bff;
                    background: linear-gradient(to right, #3573c4, #33AEFF);
                    border: 1px solid black; 
                    padding: 4px;
                    border-radius: 7px;
                "
            >
                <strong>POLLSTER</strong>
            </a>
        </div> {% endcomment %}
        <div class="list-group list-group-flush">
            <div id="user-image" class="container p-5" style="display: flex; justify-content: center; align-items: center; margin-top: 80px">
                <div class="container" 
                     style="
                            display: flex; 
                            justify-content: center; 
                            align-items: center;
                            background-color: #bfbcbc;
                            width: 150px;
                            height: 150px;
                            -moz-border-radius: 75px;
                            -webkit-border-radius: 75px;
                            border-radius: 75px;
                        "
                >
                    <i class="fa fa-user fa-5x"></i>
                </div>
            </div>
            <a href="{% url 'polls:dashboard'%}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
            <a href="{% url 'polls:polls' page=1 %}" class="list-group-item list-group-item-action bg-light">Polls</a>
            <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a>
            <a href="{% url 'accounts:profile' username=request.user.username %}" class="list-group-item list-group-item-action bg-light">Profile</a>
			<a class="navbar-text list-group-item list-group-item-action bg-light text-info" style="text-decoration: none" href="{% url 'accounts:logout' %}"><strong>Logout</strong></a>
        </div>
    </div>
   
<!-- /#sidebar-wrapper -->
