{% load static %}
<!-- Sidebar -->
<style>
    .container {
        transition: all 0.3s;
    }

    #bio-text {
        background:#2778c4;
        height:100px;
        width:200px;
        overflow: auto; /* Limits amount of text being displayed */
        margin:0 auto;
        color:#ffffff;
        border-radius: 10px;
    }

    #sidebar-content {
        position: sticky; 
        bottom: 0;
    }
</style>
<div class="bg-light border-right" id="sidebar-wrapper">
    {% comment %} <div class="sidebar-heading">
        <a class="navbar-brand text-light" href="{% url 'polls:index' %}"
            style="
                background: #007bff;
                background: linear-gradient(to right, #3573c4, #33AEFF);
                border: 1px solid black; 
                padding: 4px;
                border-radius: 7px;
            "
        >
            <strong>POLLSTER</strong>
        </a>
    </div> {% endcomment %}
    <div id="sidebar-content" class="list-group list-group-flush">
        <div id="user-image" class="container pt-3 text-center" style="display: flex; justify-content: center; align-items: center; margin-top: 80px">
            <div class="container">
                <img 
                        src="{{ request.user.userprofile.profile_pic.url }}" 
                        class="avatar img-circle img-thumbnail mb-3" 
                        alt="avatar"
                        style="
                            height: 140px; 
                            width: 140px;
                            -moz-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            border-radius: 50%;
                            {% if "user_default" in request.user.userprofile.profile_pic.url %}
                                background-color: #bfbcbc; 
                                padding: 20px;
                            {% else %}
                                border: 0;
                                margin: 0;
                                padding: 0;
                                object-fit: cover;
                            {% endif %}
                        "
                    >
            </div>
        </div>
        <div class="row my-2 ">
                <div id="bio-text" class="p-3" maxlength="10"><i class="fa fa-book"></i> {{ request.user.userprofile.bio }}</div>
        </div>
        <div class="mt-3">
            <a href="{% url 'polls:dashboard'%}" class="list-group-item {% if "dashboard" in request.path %} active disabled {% endif %} list-group-item-action">Dashboard</a>
            {% comment %} <a href="{% url 'polls:polls' page=1 %}" class="list-group-item list-group-item-action bg-light">Polls</a> {% endcomment %}
            <a href="{% url 'polls:polls' %}" class="list-group-item {% if "polls" in request.path %} active disabled {% endif %} list-group-item-action">Polls</a>
            {% comment %} <a href="#" class="list-group-item list-group-item-action bg-light">Settings</a> {% endcomment %}
            <a href="{% url 'accounts:profile' username=request.user.username %}" class="list-group-item {% if "profile" in request.path %} active disabled {% endif %} list-group-item-action">Profile</a>
            <button href="#" onclick="askLogout()" class="btn list-group-item list-group-item-action text-info" style="text-decoration: none"><strong>Logout</strong></button>
        </div>
    </div>
</div>
<!-- /#sidebar-wrapper -->