{% extends 'base.html' %} 
{% block content %} 
  <h1 class="text-center mb-3 mt-5" style="color: white">Poll Questions</h1>
  {% if latest_question_list %}
    <div>
      {% for question in latest_question_list %}
          <div class="card mb-3" style="background-color: white">
            <div class="card-body">
              <p class="lead">{{ question.question_text }}</p>
              <p class="">Published date:  {{ question.pub_date }}</p>
              <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
              <a href="{% url 'polls:results' question.id %}" class="btn btn-dark btn-sm">Results</a>
            </div>
          </div>
      {% endfor %}
    </div>
  {% else %}
    <p class="h4 text-light text-center m-5">
      No polls are available.
    </p>
  {% endif %}
  <div style="height: 60px"></div>
{% endblock %}

{% comment %} <!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    {% if latest_question_list %}
      <ul>
        {% for question in latest_question_list %}
          <li>
            {# <a href="/polls/{{ question.id }}"> This is a hardcoded url #}
            <a href="{% url 'polls:detail' question.id %}">
              {{ question.question_text }}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>
        No polls are available.
      </p>
    {% endif %}
  </body>
</html> {% endcomment %}