{% extends 'base.html' %}
{% block content %}
{% comment %} <h3>Password reset sent</h3>

<p>
    We've emailed you instructions for setting your 
    password, if an account exists with the email you 
    entered. You should receive them shortly.
</p>

<p>
    If you don't receive an email, please make sure 
    you've entered the address you registered with, 
    and check your spam folder.
</p> {% endcomment %}
<div class="jumbotron jumbotron-fluid mt-5 p-5" style="background-color: white">
  <div class="container">
    <h1 class="display-5">Password reset complete</h1>
    <p class="lead">Your password has been set. You may go ahead and log in now.</p>
    <div style="display:flex; justify-content:center">
        <a href="{% url 'accounts:login'%}" class="btn btn-primary btn-block mt-5">Login</a>
    </div>
  </div>
</div>

{% endblock %}
