{% extends 'base.html' %}
{% load static %}
{% block content %}
    <style>
        input[type="file"] {
            display: none;
        }
        .custom-file-upload {
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
        }
    </style>
    <div class="container bootstrap snippet bg-light card p-5 my-5" style="width: 80%">
        {% for message in messages %}
            {% if message.tags == "success" %} 
                <p id="messages" class="text-success lead">
                    {{message}}
                </p>   
            {% endif %}
        {% endfor %}
        <form id="profile-form" class="form" method="POST" action="" enctype="multipart/form-data" id="registrationForm">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12 text-center pb-4"><h1>{{request.user}}</h1></div>
            </div>
            {% comment %} <form class="form" method="POST" action="" enctype="multipart/form-data" id="registrationForm">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-12 pb-4">
                        <label for="bio"><h4>Bio</h4></label>
                        <input type="text" class="form-control" name="bio" id="bio" placeholder="Bio" title="Enter a Bio of yourself.">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-12 pb-4">
                        <label for="hobbies"><h4>Hobbies</h4></label>
                        <input type="text" class="form-control" name="hobbies" id="hobbies" placeholder="Hobbies" title="Talk about your hobbies if any.">
                    </div>
                </div>
            </form> {% endcomment %}
            <div class="row">
                <div class="col-sm-5" style="min-width: 180px;"><!--left col-->
                    <div class="text-center">
                        <img 
                            id="image"
                            src="{{ request.user.userprofile.profile_pic.url }}" 
                            class="avatar img-circle img-thumbnail mb-3" 
                            alt="avatar"
                            style="
                                height: 200px; 
                                width: 200px;
                                -moz-border-radius: 50%;
                                -webkit-border-radius: 50%;
                                border-radius: 50%;
                                {% if "user_default" in request.user.userprofile.profile_pic.url %}
                                    background-color: #bfbcbc; 
                                    padding: 20px;
                                {% else %}
                                    border: 0;
                                    margin: 0;
                                    padding: 0;
                                    object-fit: cover;
                                {% endif %}
                            "
                        >
                        <h6>Upload a different photo...</h6>
                        <label for="profile-pic" class="custom-file-upload">
                            Upload
                        </label>
                        <input id="profile-pic" type="FILE" name="profile_pic" onchange="previewImage();"/>
                        {% comment %} <input type="submit" name="submit" value="Submit" /> {% endcomment %}
                    </div></hr><br>

                    <div class="panel panel-default pb-3">
                        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                    </div>
                    
                    <ul class="list-group pb-3">
                        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Your Polls</strong></span> {{ polls_made|length }}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> {{ request.user.userprofile.followers }}</li>
                        <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> {{ request.user.userprofile.following }}</li>
                    </ul> 
                        
                    <div class="panel panel-default">
                        <div class="panel-heading">Social Media</div>
                        <div class="panel-body">
                            <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                        </div>
                    </div>
                </div><!--/col-3-->
                <div class="col-sm-7">
                    {% comment %} <ul class="nav nav-tabs">
                        <li class="active p-2"><a data-toggle="tab" href="#home">Home</a></li>
                        <li><a data-toggle="tab" href="#messages">Menu 1</a></li>
                        <li><a data-toggle="tab" href="#settings">Menu 2</a></li>
                    </ul> {% endcomment %}
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <hr>
                            {% comment %} <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="first_name"><h4>First name</h4></label>
                                    <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="last_name"><h4>Last name</h4></label>
                                    <input type="text" class="form-control" name="last_name" id="last_name" placeholder="last name" title="enter your last name if any.">
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="phone"><h4>Phone</h4></label>
                                    <input type="text" class="form-control" name="phone" id="phone" placeholder="Add your phone">
                                </div>
                                <div class="links text-danger">
                                    {{form.errors.phone}}
                                </div>
                            </div>
                            {% comment %} <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="email"><h4>Email</h4></label>
                                    <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="location"><h4>Location</h4></label>
                                    <input type="text" class="form-control" id="location" name="location" placeholder="Add your location">
                                </div>
                                <div class="links text-danger">
                                    {{form.errors.location}}
                                </div>
                            </div>
                            {% comment %} <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="password"><h4>Password</h4></label>
                                    <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-6">
                                    <label for="password2"><h4>Verify</h4></label>
                                    <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                                </div>
                            </div> {% endcomment %}
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <br>
                                    <button class="btn btn-lg btn-success" name="submit" type="SUBMIT"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                    <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div><!--/tab-content-->
                </div><!--/col-9-->
            </div><!--/row-->
        </form>
    </div><!--/container-->
    <script type="text/javascript">
        form = document.getElementById("profile-form");
        form.reset();
        document.addEventListener("DOMContentLoaded", function(event) {
            // - Code to execute when all DOM content is loaded. 
            // - including fonts, images, etc.
            console.log("DOM CONTENT LOADED")
            document.getElementById("profile-pic").defaultValue = "{{ request.user.userprofile.profile_pic }}"
            document.getElementById("location").defaultValue = "{{ request.user.userprofile.location }}"
            document.getElementById("phone").defaultValue = "{{ request.user.userprofile.phone }}"

            console.log(document.getElementById("profile-pic").defaultValue);
            console.log(document.getElementById("location").defaultValue);
            console.log(document.getElementById("phone").defaultValue);
        });

        {% comment %} console.log(document.getElementById("profile-pic").placeholder); {% endcomment %}
        {% comment %} console.log("{{ request.user.userprofile.phone }}");
        console.log("{{ request.user.userprofile.location }}"); {% endcomment %}

        function previewImage() {
            var image = document.getElementById("image")
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("profile-pic").files[0]);

            oFReader.onload = function (oFREvent) {
                image.src = oFREvent.target.result;
                image.style.backgroundColor = "none";
                image.style.padding = "0px";
                image.style.margin = "0px"
                image.style.border = "0px";
                image.style.objectFit = "cover";
            };
        };

    </script>
    <script type="text/javascript">

        document.addEventListener("DOMContentLoaded", JSalert);
        
        function JSalert(){
            //swal("Congrats!", ", Your account is created!", "success");
            var message = document.getElementById("messages");
            message.style.display = "none";
            if (message.innerText = "success") {
                swal("Success!", "Profile updated", "success");
            }
        }   
    </script>

{% endblock %}