{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
<style>
    :root {
        --input-padding-x: 1.5rem;
        --input-padding-y: .75rem;
    }

    body {
        background: #007bff;
        background: linear-gradient(to right, #3573c4, #33AEFF);
    }

    .card-signin {
        border: 0;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
    }

    .card-signin .card-title {
        margin-bottom: 2rem;
        font-weight: 300;
        font-size: 1.5rem;
    }

    .card-signin .card-body {
        padding: 2rem;
    }

    .form-signin {
        width: 100%;
    }

    .form-signin .btn {
        font-size: 80%;
        border-radius: 5rem;
        letter-spacing: .1rem;
        font-weight: bold;
        padding: 1rem;
        transition: all 0.2s;
    }

    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .form-label-group input {
        height: auto;
        border-radius: 2rem;
    }

    .form-label-group>input,
    .form-label-group>label {
        padding: var(--input-padding-y) var(--input-padding-x);
    }

    .form-label-group>label {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        margin-bottom: 0;
        /* Override default `<label>` margin */
        line-height: 1.5;
        color: #495057;
        border: 1px solid transparent;
        border-radius: .25rem;
        transition: all .1s ease-in-out;
    }

    .form-label-group input::-webkit-input-placeholder {
        color: transparent;
    }

    .form-label-group input:-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-ms-input-placeholder {
        color: transparent;
    }

    .form-label-group input::-moz-placeholder {
        color: transparent;
    }

    .form-label-group input::placeholder {
        color: transparent;
    }

    .form-label-group input:not(:placeholder-shown) {
        padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
        padding-bottom: calc(var(--input-padding-y) / 3);
    }

    .form-label-group input:not(:placeholder-shown)~label {
        padding-top: calc(var(--input-padding-y) / 3);
        padding-bottom: calc(var(--input-padding-y) / 3);
        font-size: 12px;
        color: #777;
    }

    .btn-google {
        color: white;
        background-color: #ea4335;
    }

    .btn-facebook {
        color: white;
        background-color: #3b5998;
    }

    /* Fallback for Edge
    -------------------------------------------------- */

    @supports (-ms-ime-align: auto) {
    .form-label-group>label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
    }

    /* Fallback for IE
    -------------------------------------------------- */

    @media all and (-ms-high-contrast: none),
    (-ms-high-contrast: active) {
        .form-label-group>label {
            display: none;
        }
        .form-label-group input:-ms-input-placeholder {
            color: #777;
        }
    }

</style>

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-9 col-lg-8 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h5 class="card-title text-center">Register</h5>
                    <form class="form-signin" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-label-group">
                            <input type="text" id="inputUsername" class="form-control" placeholder="Name" name="username" required autofocus>
                            <label for="inputUsername">Username</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputName" class="form-control" placeholder="Name" name="first_name" required>
                            <label for="inputName">Name</label>
                        </div>

                        <div class="form-label-group">
                            <input type="text" id="inputLastname" class="form-control" placeholder="Lastname" name="last_name" required>
                            <label for="inputLastname">Lastname</label>
                        </div>

                        <div class="form-label-group">
                            <input type="number" id="inputID" class="form-control" placeholder="ID" name="identification" required>
                            <label for="inputID">Identification</label>
                        </div>

                        {% comment %} <div class="form-label-group">
                            <input type="number" id="inputAge" class="form-control" placeholder="Age" name="age" required>
                            <label for="inputAge">Age</label>
                        </div>

                        <div class="form-label-group">
                            <input type="number" id="inputLocation" class="form-control" placeholder="Location" name="location" required>
                            <label for="inputLocation">Location</label>
                        </div> {% endcomment %}

                        <div class="form-label-group">
                            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" required>
                            <label for="inputEmail">Email address</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password1" required>
                            <label for="inputPassword">Password</label>
                        </div>

                        <div class="form-label-group">
                            <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password confirmation" name="password2" required>
                            <label for="inputConfirmPassword">Password Confirmation</label>
                        </div>

                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button> 

                        <div class="d-flex justify-content-center links text-danger">
                            {{form.errors}}
                        </div>

                        <div class="mt-4">
                            <div class="d-flex justify-content-center links">
                                Already have an account? <a href="{% url 'accounts:login' %}" class="ml-2">Login</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
					/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
	//We start indexing at one because CSRF_token is considered and input field 
	 */
	//Query All input fields
	var form_fields = document.getElementsByTagName('input')
	// form_fields[0].placeholder='Username...';
    // form_fields[1].placeholder='Name...';
    // form_fields[2].placeholder='Lastname...';
	// form_fields[3].placeholder='Email...';
	// form_fields[4].placeholder='Enter password...';
	// form_fields[5].placeholder='Re-enter Password...';
	for (var field in form_fields){	
		form_fields[field].className += ' form-control'
	}
</script>


{% comment %} <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-6 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form class="form-signin" method="POST" action="">
                {% csrf_token %}
                {{ form.as_p }
                {% for field in form %}
                     {{field.label}}
                    {{field}}
                    <div class="form-label-group">
                      <input type={{field.type}} id={{field.label}} class="form-control" placeholder={{field.label}} required>
                      <label for="inputLastname">{{field.label}}</label>
                    </div>
                {% endfor %}
                <input type="submit" name="Create User">

                <div class="form-label-group">
                  <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
                  <label for="inputName">Name</label>
                </div>

                <div class="form-label-group">
                  <input type="text" id="inputLastname" class="form-control" placeholder="Lastname" required>
                  <label for="inputLastname">Lastname</label>
                </div>

                <div class="form-label-group">
                  <input type="text" id="inputCountry" class="form-control" placeholder="Country" required>
                  <label for="inputCountry">Country</label>
                </div>

                <div class="form-label-group">
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required>
                    <label for="inputEmail">Email address</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <label for="inputPassword">Password</label>
                </div>

                <div class="form-label-group">
                    <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Confirm password" required>
                    <label for="inputConfirmPassword">Confirm password</label>
                </div>

              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button> 
            </form>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  {% endblock %}